@use "../base/mixins" as m;
@use "../base/variables" as v;

.formulario {
  width: 100%;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  label {
    flex: 0 0 10rem;
  }

  input {
    flex: 1;
    padding: calc(v.$separacion / 4);
    border-radius: 0.5rem;
    border: none;

    &:disabled {
      background-color: lighten(v.$negro, 20%);
      color: v.$blanco;
      cursor: not-allowed;
    }
  }
}
