@use "../base/mixins" as m;
@use "../base/variables" as v;
@use "sass:color";

.tabs {
  @include m.tablet {
    display: flex;
  }
  button {
    background-color: v.$azul;
    border: none;
    color: v.$blanco;
    padding: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 300ms;

    &:hover {
      cursor: pointer;
      background-color: color.adjust(v.$azul, $lightness: -20%);
    }
    &.actual {
      background-color: v.$blanco;
      color: v.$azul;
    }
  }
}
